{% extends "marketview/base.html" %}
<!DOCTYPE html>
{% block body-block %}


<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

 


    <div id="can" class="jumbo container mt-5"></div>
        <script>
        

        var opens = "{{ opens }}"
        var highs = "{{ highs }}"
        var lows = "{{ lows }}"
        var closes = "{{ closes }}"
        var times = "{{ times }}"
        var times=JSON.parse(times.replace(/&quot;/g,'"'))
        var opens=JSON.parse(opens.replace(/&quot;/g,'"'))
        var highs=JSON.parse(highs.replace(/&quot;/g,'"'))
        var lows=JSON.parse(lows.replace(/&quot;/g,'"'))
        var closes=JSON.parse(closes.replace(/&quot;/g,'"'))
        const chartOptions = { layout: { textColor: 'black', background: { type: 'solid', color: 'white' } }, width: 800, height: 600 };
        const chart = LightweightCharts.createChart(document.getElementById('can'), chartOptions);
        const candlestickSeries = chart.addCandlestickSeries({
            upColor: '#26a69a', downColor: '#ef5350', borderVisible: false,
            wickUpColor: '#26a69a', wickDownColor: '#ef5350',
        });

        candlestickSeries.setData([
            {time: times[99], open: opens[99], high: highs[99], low: lows[99], close: closes[99]},
            {time: times[98], open: opens[98], high: highs[98], low: lows[98], close: closes[98]},
        ]);

        for (let i=opens.length-3;i>=0;i--){
            candlestickSeries.update({time: times[i], open: opens[i], high: highs[i], low: lows[i], close: closes[i]})
        }

        chart.timeScale().fitContent();
    </script>

    <!-- <div id="autocomplete" class="autocomplete container mt-3">
        <input class="autocomplete-input" placeholder="Search Symbols"/>
        <ul class="autocomplete-result-list"></ul>
    </div>

    <script>
        new Autocomplete('#autocomplete',{
            search: input =>{
                console.log(input)
                const url = 'search/?symbol=${input}'
                return new Promise(resolve =>{
                    fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        resolve(data.data)
                    })
                })
            },
            onSubmit : result =>{
                window.open('/marketview/foreign_market/?symbol=${result}')
            }
        })
    </script> -->

    <!-- <form action="{% url 'marketview:foreign' %}" method="post">
        {% csrf_token %}
        <label for="symbol">Symbol:</label>
        <input list="symbols" name="symbol" id="symbol">
        <datalist id="symbols">
            <option value="IBM">IBM</option>
            <option value="AAPL">Apple</option>
            <option value="JSWSTEEL"></option>
            <option value="TATA">Tata</option>
            <option value="PATA"></option>
        </datalist>
        <input type="submit" value="GO">
    </form> -->


<!-- TradingView Widget BEGIN -->
<!-- <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
    {
    "width": "980",
    "height": "610",
    "symbol": "NASDAQ:AAPL",
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "light",
    "style": "1",
    "locale": "en",
    "allow_symbol_change": true,
    "calendar": false,
    "support_host": "https://www.tradingview.com"
  }
    </script>
  </div> -->
  <!-- TradingView Widget END -->



{% endblock %}